In [52]:
location = ["서울시", "경기도", "광주시"]

In [53]:
location

['서울시', '경기도', '광주시']

In [54]:
location.append("부산시")

In [55]:
print(location)

['서울시', '경기도', '광주시', '부산시']

In [56]:
location[1:3]

['경기도', '광주시']

In [60]:
location.remove('서울시')

In [61]:
location

['광주시', '부산시']

In [62]:
del location[1]

In [63]:
location

['광주시']

In [64]:
location.append("경기도")

In [65]:
location

['광주시', '경기도']

In [66]:
location.insert(1, "규선")

In [67]:
location

['광주시', '규선', '경기도']

In [68]:
list = []

In [69]:
list.append('서울시')

In [70]:
list

['서울시']

## 리스트 변수
1. 리스트 선언
"""
    - 리스트변수 = []
    - 리스트변수 = list()
"""
2. 리스트 추가
"""
    - 리스트변수.append(데이터)
    - 리스트변수.insert
"""

3. 리스트 삭제
"""
    - 리스트변수.remove(데이터)
    - del 리스트변수 [인덱스번호]
"""

4. 리스트 데이터 수정
    - 리스트변수[인덱스번호] = 수정할 데이터

In [71]:
location

['광주시', '규선', '경기도']

In [72]:
location.insert(3, 3)

In [73]:
location.insert(4, True)

In [74]:
location

['광주시', '규선', '경기도', 3, True]

In [75]:
lang = ["C", "Java", "golang"]

In [77]:
python_is_easy = "python is easy"
python_is_easy.split()

['python', 'is', 'easy']

In [82]:
lang.reverse()
lang

['golang', 'Java', 'C']

In [4]:
age = input("나이는?")
age_digit = int(age)
if age_digit > 19:
    print("당신은 으른입니다 ㅋ")
    print("당신은 으른입니다 ㅋㅋ")
    print("당신은 으른입니다 ㅋㅋㅋ")
    print("당신은 으른입니다 ㅋㅋㅋㅋ")

나이는?22
당신은 으른입니다 ㅋ
당신은 으른입니다 ㅋㅋ
당신은 으른입니다 ㅋㅋㅋ
당신은 으른입니다 ㅋㅋㅋㅋ

In [11]:
age1 = input("철수의 나이는?")
age_digit1 = int(age1)

age2 = input("영희의 나이는?")
age_digit2 = int(age2)

if not age_digit1 >= 19:
    print("19금")

철수의 나이는?15
영희의 나이는?22
19금

In [13]:
cash = int(input("현금은?"))
if cash > 100000:
    print("레스토랑으로 간다")

현금은?50000

In [22]:
age = int (input("나이는?"))
if age >= 19:
    print("당신은 성인입니다.")
elif age >=13 and age < 19:
    print("당신은 청소년입니다.")
elif age >= 5 and age < 13:
    print("당신은 유아입니다.")
else:
    print("안녕?")
    
print("안녕하세요!")

나이는?2
안녕?
안녕하세요!

In [31]:
cash = int (input("현금은? "))
if cash > 100000:
    print("레스토랑")
else:
    if cash > 50000:
        if cash > 70000:
            print("패밀리 레스토랑")
        elif cash > 60000:
            print("밥집")
        else:
            print("분식집")
    else:
        print("집")

현금은? 67000
밥집

In [15]:
sum = 0
for index in range(1, 11):
    sum = sum + index
print(sum)

55

In [14]:
for index in ["ngs", "jueun", "sangin"]:
    print(index)

ngs
jueun
sangin

In [16]:
i = 0
while i <= 3:
    print(i)
    i = i + 1

0
1
2
3

In [18]:
name = ''
while name != "foo bar":
    name = input("What's your name? ")
    print("Hi, " + name + " So, where is foo bar?")

What's your name? ngs
Hi, ngsSo, where is foo bar?
What's your name? ngs
Hi, ngsSo, where is foo bar?
What's your name? foo bar
Hi, foo barSo, where is foo bar?

In [20]:
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [23]:
data = int(input())

if data >= 2 and data <= 9:
    for digit in range(1, 10):
        print(data, "X", digit, "=", data*digit)

10

In [37]:
data = input()

data_list = data.split(",")

for str_list in data_list:
    print(str_list)

Dave,David,Andy,Arthor
Dave
David
Andy
Arthor

In [42]:
data = input().split(",")

for i in range(len(data)):
    print(data[i])

Dave,David,Andy,Arthor
Dave
David
Andy
Arthor

In [36]:
data = "[Dave],[David],[Andy],[Arthor]"

for str_list in data.split(","):
    print(str_list[1:-1])

Dave
David
Andy
Arthor

In [43]:
for i in range(1, 31):
    if (i % 3 == 0):
        print(i)

3
6
9
12
15
18
21
24
27
30

In [47]:
sum = 0
index = 1

while index <= 100:
    sum += index
    index += 1
    
print(sum)

5050

In [49]:
filelist = ['exercise01.docx', 'exercise02.docx', 'exercise03.docx', 'exercise04.docx', 'exercise05.docx']

for filename in filelist:
    print(filename.split(".")[0])

exercise01
exercise02
exercise03
exercise04
exercise05

In [51]:
filelist = ['exercise01.docx', 'exercise02.csv', 'exercise03.txt', 'exercise04.hwp']

for filename in filelist:
    if filename.split(".")[1] == 'txt':
        print(filename)

exercise03.txt

In [58]:
def func1(parameter1, parameter2):
    print("Hello!", parameter1)
    print("Hello!", parameter2)

In [59]:
func1("Python", "JAVA")

Hello! Python
Hello! JAVA

In [68]:
def func2(data1, data2):
    return data1 * (data1 + data2)

In [70]:
func2(2, 4)

12

In [74]:
def awe_sum(a,b):
    # local variable
    c = 1
    result = a + b
    return result

# global variable
a = 1

print(awe_sum(2,3))

5

In [79]:
def print_hello():
    return "hello"

result_hello = print_hello()
print(result_hello)

hello

In [78]:
def func_wo_return(a):
    print("This is function without return for " + str(a) + " times.")
    
func_wo_return(1)

This is function without return for 1 times.

In [84]:
def mul_return(a):
    b = a + 1
    return a,b

In [83]:
def id_check(id):
    if id == "admin":
        print("invalid id: admin")
        return
    print("valid id: ", id)

# 데이터 구조: 튜플
* 선언 + 입력 : 변수명 = (1, 2, 3, 4)
* 읽기: 변수명[인덱스번호]
* 추가
* 삭제
* 수정

In [93]:
data1 = (1, 2, 3)

In [94]:
data2 = (4, 5, 6)

In [95]:
data1[1]

2

In [97]:
print(type(data1))
data1

<class 'tuple'>

(1, 2, 3)

In [98]:
data1 + data2

(1, 2, 3, 4, 5, 6)

In [99]:
data1 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [100]:
x = 1
y = 2

In [101]:
temp = x
x = y
y = temp

In [103]:
print(x, y)

2 1

In [108]:
x, y = y, x
print(x, y)

1 2

In [110]:
def quot_and_rem(x,y):
    quot = x // y
    rem = x % y
    return quot, rem

quot, rem = quot_and_rem(3,10)
print(quot, rem)

0 3

# 데이터 구조: 딕셔너리 또는 사전
* 선언 + 입력 : 변수명 = {} 또는 dict(), 초기값과 함께 선언
* 읽기: 변수명[키]
* 추가: 변수명[새로운키] = 새로운값
* 삭제: del 변수명[삭제할키]
* 수정: 변수

In [111]:
data_list = list() # []
data_tuple = tuple() # ()
data_dict = dict() # {}
data_set = set() # {}

In [121]:
data_dict = {'한국':'KR', '일본':'JP', '중국':'CN'}

data_dict['한국']

'KR'

In [123]:
data_dict['미국'] = 'US'

data_dict

{'한국': 'KR', '일본': 'JP', '중국': 'CN', '미국': 'US'}

In [124]:
del data_dict['한국']

data_dict

{'일본': 'JP', '중국': 'CN', '미국': 'US'}

In [125]:
data_dict['일본'] = "JR"

data_dict

{'일본': 'JR', '중국': 'CN', '미국': 'US'}

In [133]:
data_dict.keys()

dict_keys(['일본', '중국', '미국'])

In [134]:
for keys in data_dict.keys():
    print(keys)

일본
중국
미국

In [135]:
for values in data_dict.values():
    print(values)

JR
CN
US

In [136]:
data_dict.items()

dict_items([('일본', 'JR'), ('중국', 'CN'), ('미국', 'US')])

In [157]:
for key in data_dict.keys():
    print(data_dict[key])

# 데이터 구조: 집합 또는 set (집합 연산)
* 선언 + 입력 : 변수명 = set(), 변수명 = {데이터1, 데이터2, ...}, 변수명 = set(데이터1), 변수명 = ({데이터1, 데이터2, ...})
* 읽기: 
* 추가:
* 삭제: 
* 수정: 
* (순서 없음, 중복 없음)

In [159]:
data_list = list() # []
data_tuple = tuple() # ()
data_dict = dict() # {}
data_set = set() # {}

In [162]:
type(data_set)

set

In [163]:
data_set = {'apple', 'dell', 'samsung', 'lg'}

type(data_set)

set

In [164]:
for data in data_set:
    print(data)

apple
samsung
dell
lg

In [165]:
if 'apple' in data_set:
    print(data_set)

{'apple', 'samsung', 'dell', 'lg'}

In [173]:
data1 = {'apple', 'samsung', 'lg'} # 스마트폰 생산 업체

In [174]:
data2 = {'samsung', 'lg', 'xaiomi'} # TV 생산 업체

In [168]:
data1 & data2 # 교집합

{'lg', 'samsung'}

In [169]:
data1 | data2

{'apple', 'lg', 'samsung', 'xaiomi'}

In [176]:
data1 - data2

{'apple'}

In [177]:
data1 ^ data2

{'apple', 'xaiomi'}

In [178]:
data_set = {'apple', 'apple', 'dell', 'samsung', 'apple'}

data_set

{'apple', 'dell', 'samsung'}

In [2]:
prices = input()

if prices[4:] == '달러':
    print(int(prices[:4]) * 1312, '원')

100 달러
130000 원

In [4]:
prices = input()

if prices[4:] == '달러':
    print (int(prices[:4]) * 1312, '원')
elif prices[4:] == '위안':
    print (int(prices[:4]) * 171, '원')

100위안

In [12]:
exchange = {'달러':1112, '위안':171, '엔':1010}
prices = input()
for exchange_item in exchange.keys():
    if prices[4:] == exchange_item:
        print (int(prices[:4]) * exchange[exchange_item], '원')

100 엔
101000 원

In [18]:
for index in range(2, 10):
    for index_2 in range(1, 10):
        print(index, "X", index_2, "=", index*index_2)
    print('\n')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45


6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63


8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [22]:
for index in range(2, 10):
    for index_2 in range(1, 10):
        if((index*index_2) % 2 == 0):
            print(index, "X", index_2, "=", index*index_2)
    print('\n')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40


6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56


8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

In [23]:
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

for dong in dongs:
    for ho in hos:
        print (dong, ho)
    print ("\n")

6209동 101호
6209동 102호
6209동 103호
6209동 104호


6208동 101호
6208동 102호
6208동 103호
6208동 104호


6207동 101호
6207동 102호
6207동 103호
6207동 104호

In [30]:
data = ('a', 'b', 'c', 'd', 'e')
print (data[0], data[-1])

a e

In [31]:
var1, var2 = 1, 2
print (var1, var2)

var1, var2 = var2, var1 # swapping
print (var1, var2)

1 2
2 1

In [32]:
var1, var2, var3 = 1, 2, 3
print (var1, var2, var3)

var1, var2, var3 = var2, var3, var1 # swapping
print (var1, var2, var3)

1 2 3
2 3 1

In [36]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
data = list(tupledata)
del data[0]
data.remove('fun-coding2')
tuple(data)

('fun-coding3', 'fun-coding4', 'fun-coding5')

In [37]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
data = list(tupledata)
data.append('fun-coding4')
tuple(data)

('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4')

In [39]:
data1 = tuple()
data2 = list()
data3 = dict()
data4 = set()
print (type(data1), type(data2), type(data3), type(data4))

<class 'tuple'> <class 'list'> <class 'dict'> <class 'set'>

In [43]:
data = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

keys = data.keys()
values = data.values()

print (data)
print (list(keys))
print (list(values))

{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']

In [45]:
data = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

for item in data.keys():
    print(item, ":", data[item])

environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴

In [48]:
data = {'environment': ['환경', 'X'], 'company': ['회사', 'O'], 'government': ['정부, 정치', 'X'], 'face': ['얼굴', 'X']}

for item in data.keys():
    data_list = data[item]
    if data_list[1] == 'X':
        print(item)

environment
government
face

In [49]:
data = {'environment': ['환경', 'X'], 'company': ['회사', 'O'], 'government': ['정부, 정치', 'X'], 'face': ['얼굴', 'X']}

english = input()
if english in data.keys():
    data[english][1] = 'O'

for item in data.keys():
    data_list = data[item]
    if data_list[1] == 'X':
        print (item)

government
environment
face

In [54]:
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}

for item in dict2.keys():
    dict_all[item] = dict2[item]
    
for item in dict3.keys():
    dict_all[item] = dict3[item]
    
dict_all

{'environment': '환경',
 'gonernment': '정부, 정치',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [62]:
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}

print ("배우 이름:", actor_info['actor_name'])
print ("홈페이지:", actor_info['actor_details']['홈페이지'])
print ("출연 영화 갯수:", len(actor_info['movie_list']))

배우 이름: 마동석
홈페이지: https://www.instagram.com/madongseok
출연 영화 갯수: 3

In [63]:
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
number_list1 = set(number_list)
number_list1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
def cal(x, y, way):
    if way == '+':
        return x + y
    elif way == '*':
        return x * y
    else:
        return 0
    
print(cal(2, 3, '+'))
print(cal(2, 3, '*'))
print(cal(2, 3, '-'))

5
6
0

In [74]:
def print_string(string, digit):
    data = []
    for index in range(digit):
        data.append(string)
    return data

print_string('Fun', 3)

['Fun', 'Fun', 'Fun']